.bottom-nav{
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
        padding: 10px;
    bottom: 0;
    background-color: #ffff;
}

.bottom-nav__button-container{
    position: relative;
}

.bottom-nav__counter{
    position: absolute;
    top: -7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    font-weight: bold;
    font-size: 12px;
}

.bottom-nav__wishlist-counter{
    right: -5px;
}

.bottom-nav__cart-counter{
    right: -10px;
}



